.head {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    width: 220px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}
.footer1 {
    background-color: #666666;
    height: 50px;
}