.head {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    width: 220px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}
html, body{
height: 100%;
}
.btn{
    background-color: #4aaaa5;
    color: #ffffff;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}
.container-fluid:nth-child(3){
    border-top: #4aaaa5 10px solid;
    position: fixed;
    bottom: 0;
    right: 0;
}
img {
    position: relative;
    display: block;

}
h5 {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom:5px;
    background: #4aaaa5;
    width: 210px;
    height: 35px;
    color: white;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
}
.fullscreen{
    height: 100%;
}
