.head {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    width: 220px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}